body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: o;
    background-color: #f4f4f4;
}

header {
    background: #1E90FF;
    color: white;
    padding: 10px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabecalho__logo {
    text-align: left;
}

.cabecalho__links {
    text-align: center;
    color: white;
    text-decoration: none;
    display: grid;
    margin: 0 15px;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}