@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1B4965;
    width: 100%;
    height: 90px;
}

.container {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-top: 6px;
    margin-left: 20px;
    width: 69px;
    height: 69px;
}

.logo_text {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-left: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px black;
}

.user_logo {
    margin-top: 10px;
    margin-left: 1000px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.left_side{
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #050E14;
    float: left;
}

.left_side_text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
}

.schudeling {
    width: 40px;
    height: 40px;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.clients {
    width: 40px;
    height: 20px;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.services {
    width: 40px;
    height: 40px;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.revenue{
    width: 40px;
    height: 40px;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    gap: 13px;
}